/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2015, 11:59:01 PM
    Author     : Trung
*/
.wrap-content h4{

    color: #b20371;
    font-size: 18px;
    font-family: 'Arial';
    font-weight: 700;
    line-height: 24px;
}
.wrap-content p{
    color: #535353;
    font-size: 13px;
    font-family: 'Arial';
    line-height: 20px;
}
.wrap-img img{    
    margin-right: 20px;
}

.list-news ul li{
    border-bottom: 1px solid #f1f1f1;
    margin-top: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}
.list-news ul li h4:hover{
    color: #8aaa23;
}
.wp-pagenavi {
    float: right;
    margin: 15px 0;
}
.wp-pagenavi .pages, .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
    display: none;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000;
}
.wp-pagenavi span.current {
    font-weight: bold;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    color: #fff !important;
    background: #bd0478 !important;
    text-decoration: none !important;
    border: none !important;
}
.wp-pagenavi a, .wp-pagenavi span {
    padding: 5px 9px !important;
    border: none !important;
    background: #f3f3f3 !important;
    margin: 3px 1px;;
    color: #333 !important;
}
.advantising-list-news{
    float: left;
    width: 100%;
    background: #f1f1f1;
    height: 95px;
    text-align: center;
    margin-top: 10px;    
}
.advantising-list-news p{
    padding-top: 42px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;   
    color: #6d6d6d;
}
.footer p{
    color: #626262;
    font-size: 13px;
    font-family: 'Arial';
    font-weight: 400;
    line-height: 13px;

}
.footer{
    background: #f1f1f1;
    height: 123px;
    padding-top: 24px;
    padding-bottom: 20px;
}
.footer-right{
    padding-top: 70px;
    margin-right: 7px;

}
.Powered {
    color: #9e0164;
}
.icon-footer{
    float: right;
    margin-top: -50px;
    margin-right: 157px;
}
.footer-header{
    background: #bd0478;
    height: 40px;
}
.content-menu-footer li:first-child {
    padding-left: none;
}
.content-menu-footer li {
    float: left;
    padding: 10px 10px 0 10px;
    height: 40px;
    
}